*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #EFFDF5;
    padding: 0 200px;
    font-family:  "Heebo", sans-serif;
    
}
main{
    width: 100%;

    background-color: white;
    
}

nav{
    width: 90%;
    height: 70px;
    background-color:white;
    display: flex;
    justify-content: space-between;
    margin: auto;
    position: sticky;
    top: 30px;
   box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
   z-index: 3;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
   
}
.logo img{
    border-radius: 50%;
    border: 1px dotted #00B98E;
    margin-left: 15px;
   padding: 5px;
}
.logo h1{
    font-size: 40px;
    color: #00B98E;

    
}
 .links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin-right: 10px;
    position: relative;
    
}
ul li a:hover{
    color: #00B98E;
}

ul li{
 list-style: none;
 position: relative;   
 
}

.links a{
    text-decoration: none;
   color:  #0E2E50;
    transition: .3s;
    
}

.links .drop-down{
    position: absolute;
    top: 43px;
    width: 180px;
    background-color: white;
    height: 0;
    padding: 0;
    overflow: hidden;
    transition: .5s;
}
.links li:hover .drop-down{
    height: fit-content;
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;
    
}
.links .btn{
    padding: 10px;
    background-color: #00B98E;
    color: white;
    border-radius: 5px;
    border: none;
    margin-right: 10px;
    cursor: pointer;
}
.links .btn:hover{
    background-color:#02dba9d3;
}


.head{
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-70px);
}
.write{
    width: 50%;
   padding-left: 50px; 
    
}

.head .write h2 span{
    color: #00B98E;
    font-weight: 800;
}
.head .write h2{
    font-size: 45px;
    font-weight:800;
    color: #0E2E50;
    letter-spacing: 2px;
    line-height: 1.2;
}
.head .write p{
    color: #666565;
    margin-top: 20px;
    margin-bottom: 30px;
}
.head .write .btn-2{
    width: 200px;
    height: 60px;
    background-color: #00B98E;
    color: white;
    border-radius: 5px;
    border: none;
    font-size: 17px;
    font-weight: 100;
    cursor: pointer;
}
.head .write .btn-2:hover{
    background-color:#02dba9d3;
}

.head-img {
    width: 50%;
    overflow: hidden;
   
}
.head .slider{
    position: relative;
    width: 50%;
    overflow: hidden;
}
.head .slider div img{
    width: 100%;
    animation: move 3s infinite alternate;

}
.head .slider div{
    display: flex;
    justify-content: center;
    align-items:center;
    width: 100%;
    margin-left: 363px;
    position: relative;
}
@keyframes move{
    100%{
        transform: translateX(-100%);
    }
}

.head .slider i{
    position: absolute;
    top: 50%;
    width: 60px;
    height: 60px;
    background-color:#00B98E;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: white;
}
.fa-angle-left{
    
left: 0;
}
.fa-angle-right{
right: 0;
}

.input{
    width: 100%;
    height: 100px;
   background-color: #00B98E;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -70px;
    gap: 20px;
}
.input input , select{
    width: 350px;
    height: 50px;
    font-size: 18px;
    padding-left: 20px;
    border-radius: 5px;
    border: none;
    color: #666565;
}
.input .btn-3{
width: 150px;
height: 50px;
font-size: 18px;
border-radius: 7px;
border: none;
background-color: #0E2E50;
color: white;
cursor: pointer;
} 


.abc{
  
  display: flex;
  flex-direction: column;
  align-items: center;
}
.abc h4{
    font-size: 2.5rem;
    color: #0E2E50;
}
.abc p{
    font-size: 1rem;
    color: #666565;
    width: 600px;
}
.container-1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.container-2{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   gap: 10px;
   margin-top: 30px;
   gap: 20px;
}
.background{
    width: 300px;
    height: 250px;
    background-color: #EFFDF5;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-2 .background .card{
    width: 90%;
    height: 90%;
    background-color: white;
    border:#00B98E  dotted 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.container-2 .card:hover{
    background-color: #00b98e60;
     
}


.container-2 div{
    display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.container-2 div .img99{
  width: 100%;
  height: 100%;
  border: #00B98E dotted 1px;
  padding: 25px 0;
  border-radius: 50%;
    
}
.container-1 span{
    color: #00B98E;
}
.container-1 h5{
    font-size: 1rem;
    font-weight: 700;
    color: #0E2E50;
}
.container-3{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    margin-top: 100px;
}


.container-3 .imgholder {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    padding: 30px 0;
    
}
.container-3 .imgholder::before{
    content: "";
    position: absolute;
    background-color: #00B98E;
    width: 100%;
    height: 100%;
    left: -50%;
    transform: skew(30deg);
}
.container-3 .imgholder img{
    width: 85%;
    position: relative;
    z-index: 3;
    
}
.container-3 .det{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.fa-solid {
    color: #00B98E;
    
}
.container-3 .det h6{
    font-size:3rem ;
    font-weight: 700;
    color:#0E2E50 ;
}
.container-3 .det p{
    font-size: 1rem;
    font-weight:400 ;
    color: #666565;
    padding: 5px;
}
.container-3 .det .btn-4{
    width: 200px;
    height: 60px;
    background-color: #00B98E;
    color: white;
    border-radius: 5px;
    border: none;
    font-size: 17px;
    font-weight: 100;
    cursor: pointer;
    transition: .3s;
}
.container-3 .det .btn-4:hover{
    background-color:#02dba9d3;
    
}


.container-4{
    display: flex; 
    flex-direction: column;
}
.container-4 .cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}
.container-4  .sss h6{

font-size:3rem ;
    font-weight: 700;
    color:#0E2E50 ;
}
.container-4 .sss p{
    font-size: 1rem;
    font-weight:400 ;
    color: #666565;
    padding: 5px;
}
.container-4 .cont .btnss{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    
}
.container-4 .cont .btnss button{
    width: 80px;
    height: 40px;
    border: #00B98E 1px solid;
    border-radius: 5px;
    background-color: white;
    color:black;
    padding: 5px;
    
    transition: .3s;
    font-size: 15px;
    font-weight:500;
}

.container-4 .cont .btnss button:hover
{
    background-color: #00B98E;
    color: white;
}
.container-4 .cont .btnss button:nth-child(1){
    background-color: #00B98E;
    color: white;
} 
.container-4 .container-small{
    width: 400px;
    height: 400px;
     box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
     margin-left: 50px;
    
} 
.container-4 .container-small .img88{
    width: 100%;
    height: 50%;
    overflow: hidden;
    position: relative;
   
}
.container-4 .container-small .img88 img{
    width: 100%;
    transition: .5s;
}
.container-4 .container-small .img88 img:hover{
    transform: scale(1.1);
}
.container-4 .container-small .img88 .pa-1{
    width: 60px;
    height: 25px;
    background-color: #00B98E;
    position: absolute;
    z-index: 5;
    color: white;
    top: 10px;
    left: 50px;
    border-radius: 5px;
    text-align: center;
    padding: 5px;
}
.container-4 .container-small .img88 .pa-2{
    width: 100px;
    height: 30px;
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 50px;
    text-align: center;
    border-radius: 5px 5px 0 0;
    z-index: 5;
}
.container-4 .container-small .det-2{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 35%;
    gap: 15px;
    margin-left: 20px;
    margin-top: 20px;
}
.container-4 .container-small .det-2 span{
    font-size: 1.25rem;
    font-weight: bold;
    color:#00B98E ;

}
.container-4 .container-small .det-2 h5{
    font-size: 1.25rem;
    
    font-weight: 700;
    color:#0E2E50 ;

}
.container-4 .container-small .det-2 p{
font-size: 1rem;
font-weight: 400;
color: #666565;
}

.container-4 .container-small .det-3 {
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   border-top:1px dotted #00B98E ;
   padding-top:5px ;
}
.container-4 .big{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}
.container-4  .btn-5{
    width: 400px;
    height: 60px;
    border: #00B98E 1px solid;
    border-radius: 5px;
    background-color:#00B98E;
    color: white;
    margin-top: 20px;
    transition: .5s;
}
.container-4  .btn-5:hover{
    background-color:#02dba9d3;
}


.background-3 {
    width: 95%;
    height: 550px;
    margin: auto;
    background-color:#EFFDF5;
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.background-3 .container-5{
width: 98%;
height: 93%;
background-color: white;
display: flex;
justify-content: center;
align-items: center;
border: 1px dotted #00B98E ;
border-radius: 10px;
}
.background-3 .container-5 .img-h{
   width:50% ;
   padding: 20px;
   
}
.background-3 .container-5 .img-h img{
    width: 100%;
    border-radius: 10px;
}
.background-3 .container-5 .abo{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.background-3 .container-5 .abo h4{
    font-size: 2.5rem;
    font-size:700 ;
    color: #0E2E50;
}
.background-3 .container-5 .abo p{
    font-size: 1rem;
    font-weight: 400;
    color: #666565;
}
.background-3 .container-5 .abo div {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
}
.background-3 .container-5 .abo div button{
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 6px;
    color: white;
    background-color: #00B98E;
    font-size: 15px;
    cursor: pointer;
}
.background-3 .container-5 .abo div button:nth-child(2){
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 6px;
    color: white;
    background-color:#0E2E50;
    font-size: 15px;
    cursor: pointer;
}


.container-6{
    display: flex;
    flex-direction: column;
    margin-top:100px ;
    
}

.container-6 .ccc{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
}
.container-6 .ccc h5{
    font-size: 2rem;
    
    font-weight: 700;
    color:#0E2E50 ;

} 
.container-6 .ccc p{
    font-size: 1rem;
font-weight: 400;
color: #666565;
}

.container-6 .contt{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 50px;
}
.container-6 .contt .car{
    width: 300px;
    height: 450px;
    overflow: hidden;
    margin-right: 50px;
    transition: .3s;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.container-6 .contt .car:hover{
    transform: translateY(-5px);
}
.container-6 .contt .car .img-holdd{
    width: 100%;
    height: 70%;
    position: relative;
    
    
}
.container-6 .contt .car .img-holdd  img{
    width: 100%;
   
    
} 
.container-6 .contt .car .img-holdd .iconn{
    position: absolute;
    bottom: 0;
    left: 30%;
  
}

.container-6 .contt .car .img-holdd .fa-brands{
    padding: 15px;
    background-color: white;
    border-radius: 50%;
    color: #00B98E;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    transition: .4s;
    cursor: pointer;
}
.container-6 .contt .car .img-holdd .fa-brands:hover{
    background-color:#0E2E50;
    color: white;
    
}

.container-6 .contt .car .inf {
   width: 100%;
   height: 30%;
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-top: 20px;
   
} 
.container-6 .contt .car .img-holdd .inf .h3{
    color: #0E2E50;
    font-size: 1.5rem;
    font-weight: 500;
}



.ooo{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    text-align: center;
    
}
.ooo h4{
    font-size: 2rem;
    font-weight: 800;
    color: #0E2E50;
} 
.ooo p{
    font-size: 1rem;
    color: #666565;
    font-weight: 400;
}

.container-7{
    width:100% ;
    height: 250px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    

}
.container-7 .small-con{
    width:90%;
    height: 150px;
    background-color:#EFFDF5;
    display: flex;
    align-items: center;
    justify-content: center;
    
    padding-left: 15px;
}
.container-7 .small-con .contt{
    width: 95%;
    height: 85%;
    background-color: white;
    margin: auto;
    position: relative;
    border: 1px dotted  #00B98E;
}

.container-7 .small-con .contt .img-con{
    width: 50px;
    height: 40px;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 10px;
    

}
.container-7 .small-con .contt .img-con img{
    width: 100%;
    margin-left: 60px;
}
.container-7 .small-con .contt .img-con h3{
    padding-left: 15px;
    color: #0E2E50;
    font-size: 1rem;
    font-weight: bold;
}
.container-7 .small-con .contt p{
    padding: 5px;
}
.container-7 .small-con .contt .img-con h3 span{
    font-size: 1rem;
    font-weight: 400;
    color: #666565;
}
.container-7 .fa-solid{
    padding: 15px;
    background-color:#00B98E;
    border-radius: 50%;
color: white;
cursor: pointer;
transition: .4s;
}
.container-7 .fa-solid:hover{
    background-color: greenyellow;
    color: #0E2E50;
}

.last-con {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    background-color: #0E2E50;
    min-height: 350px;
}
.last-con .first div{
display: flex;
gap: 15px;
}
.last-con .first{
    display: flex;
    flex-direction: column;
    gap: 15px;
    
}
.last-con .secend {
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}
.last-con .secend a{
    text-decoration: none;
    color:white;
    opacity: 60%;
    transition: .4s;
}
.last-con .thirty {
    display: flex;
   flex-direction: column;
   gap: 15px;
  }
  .last-con .secend a:hover{
    color: greenyellow;
  }
.last-con .thirty .gal-1{
   width: 90px;
   height: 60px;
   
display: flex;
justify-content: center;
align-items: center;
gap: 5px;
margin-left: 50px;
}
.last-con .thirty .gal-1 img{
    width: 100%;
    border: white 2px solid;
    border-radius: 7px;
}
.last-con .thirty .gal-2{
    width: 90px;
    height: 60px;
    margin-left: 50px;
 display: flex;
 justify-content: center;
 align-items: center;
 gap: 5px;
 
}
.last-con .thirty .gal-2 img{
    width: 100%;
    border: white 2px solid;
    border-radius: 7px;
}
.last-con .thirty .gal-3{
    width: 90px;
    height: 60px;
    gap:5px;
 display: flex;
 justify-content: center;
 align-items: center;
 margin-left: 50px;

}
.last-con .thirty .gal-3 img{
    width: 100%;
    border: white 2px solid;
    border-radius: 7px;
}

.last-con .four{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.last-con h1{
    color: white;
}
.last-con p{
    color: white;
    opacity: 60%;
}
.last-con .first i{
    padding: 10px;
    border-radius: 50%;
    border: white 1px solid;
}
.last-con .first .fa-brands{
    color: white;
}
.last-con .first .fa-solid{
    color: white;
}
.last-con .four input{
    width: 300px;
    height: 40px;
    background-color: #0E2E50;
   border: white 1px solid;
   border-radius: 10px;
   
}
.last-con .four input::placeholder{
    color: white;
    opacity: 60%;
    padding-left: 15px;
}
.last-con .four button{
position: relative;
bottom: 51px;
width: 90px;
height: 30px;
right: -200px;
background-color:#00B98E ;
color: white;
cursor: pointer;
border-radius: 5px;
}
.kk{
    text-align: center;
    background-color: #0E2E50;
    color: white;
    font-size: 1rem;
    border-top: 1px dotted white;
    
    padding: 10px;
}